*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: wheat;
}

html{
    font-family: "Open Sans",sans-serif;
}



@keyframes animeBG {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

#navbar{
   
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
   
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a{
    padding: 0.5rem;
}

#navbar ul li a:hover{
    background: #336ea2;
    border-radius: 4px;
}

#altbar{
   
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;
   
}

#altbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#altbar ul li a{
    padding: 2rem;
    padding-right: 13rem;
    padding-left:  13rem;;
}

#altbar ul li a:hover{
    background: #322222;
    border-radius: 4px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name{
  
    text-align: center;
}
#home .name h2{
    margin-bottom:  0;
    padding: 0%;
}

#home .name p{
    opacity: 0.6;
    font-style: italic;
}

#home a{
    margin-top: 1.25rem;
    background-color: #062e51;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    letter-spacing: 0.5px;
}
#home a:hover{
    color: wheat;
    background-color:#336ea2;
   
    letter-spacing: 0.5px;
}

#training{
    color: #fff;
    padding: 1rem;
}
/* İtemleri Yan Yana Getirme Önemli !!!*/
#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#training .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

